  <div class="modal fade" ng-controller="loginController" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">{{titulo}}</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action='/singin' name="login_form">

            <p><input type="text" class="inputLogin"  id="username" focus-me="true" name="username" placeholder="Username" ></p>
            <p><input type="password" class="inputLogin" name="password" placeholder="Password" ng-init="loginInit()" ></p>
            <input type="submit" class="btn btn-primary" value='Sing in'>
          </form>
        </div>
        <div class="modal-footer">
            New To GefCore?
            <a href='/singup' class="btn btn-primary">Register</a>
          </div>
      </div>
    </div>
  </div>
