<link rel="stylesheet" href="/js/components/ingles/ingles-css.css">
    <h2>Ingles</h2>

    <div class ="row " style ="margin-bottom: 1em;" ng-repeat ="mates in matematicas track by $index">

    <!-- IF mates.puntos es más pequeña que la puntuacion que necesita para entrar-->
      <div class ="col-md-12 col-lg-12 matematicasHome desbloqueado" ng-if="mates.puntuacionTotal <= $ctrl.puntuacionMaxima ">
        <a href="/juegoIngles/{{mates.identi}}" class ="" >
          <div class ="col-md-3 col-lg-3 juegos-matematicas-home  {{mates.identi}}">
            Nivel {{mates.nivel}}
          </div>
          <div class ="col-md-5 col-lg-5 juegos-matematicas-home {{mates.identi}}">
            <span>{{mates.titulo}}</span>
          </div>
          <div ng-if ="$root.thisUser.matematicas">
            <div ng-repeat ="matematicasUser in $root.thisUser.ingles">
              <div ng-if ="matematicasUser.juego.identi == mates.identi && matematicasUser.juego.estado == 0">

                <div class ="col-md-3 col-lg-3 juegos-matematicas-home {{mates.identi}}">
                  <span>Nuevo Nivel</span>
                </div>

                  <span class ="fi glyphicon glyphicon-arrow-left spanFlotando"></span>
              </div>
              <div ng-if="matematicasUser.juego.identi == mates.identi && matematicasUser.juego.estado == 1">
                <div class ="col-md-3 col-lg-3 juegos-matematicas-home {{mates.identi}}">
                  <span>Superado</span>
                </div>

                  <span class ="fi glyphicon glyphicon-ok spanFlotando"></span>
              </div>
              <div ng-if="matematicasUser.juego.identi == mates.identi && matematicasUser.juego.estado == 3">
                <div class ="col-md-3 col-lg-3 juegos-matematicas-home {{mates.identi}}">
                  <span>Repetir</span>
                </div>

                  <span class ="fi glyphicon glyphicon-refresh spanFlotando"></span>
              </div>
            </div>
          </div>
          <div ng-if ="$root.thisUser.matematicas.length == 0">
            <div class ="col-md-3 col-lg-3 juegos-matematicas-home {{mates.identi}}">
              <span>Nuevo Nivel</span>
            </div>

              <span class ="fi glyphicon glyphicon-arrow-left spanFlotando"></span>
          </div>
        </a>
      </div>

    <!-- Else if-->
      <div class ="col-md-12 col-lg-12 matematicasHome bloqueado" ng-if="mates.puntuacionTotal > $ctrl.puntuacionMaxima ">
        <a href="" class ="" >
          <div class ="col-md-3 col-lg-3 juegos-matematicas-home juegoBloqueado {{mates.identi}}">
            Nivel {{$index + 1}}
          </div>
          <div class ="col-md-5 col-lg-5 juegos-matematicas-home juegoBloqueado {{mates.identi}}">
            <span>{{mates.titulo}}</span>
          </div>
          <div class ="col-md-3 col-lg-3 juegos-matematicas-home  juegoBloqueado {{mates.identi}}">
            <span style="font-size:1em!important">  {{$ctrl.puntuacionMaxima}} de {{mates.puntuacionTotal}} Nivel bloqueado</span>
          </div>
        </a>
        <span class ="fi glyphicon glyphicon-ban-circle spanFlotando"></span>
      </div>
    <!-- End if-->
    </div>

<script src =" /js/components/ingles/ingles-jquery.js">

  </script>
