footer p {
  margin-left: 2em;
}

button.close {
  margin-top: -53px !important;
  font-size: 2em;
}

.inputLogin {
  padding-left: 0.5em;
  width: 15em;
}
h3 {
  margin-left: 2em;
}
h1 {
  text-align: center;
  margin-bottom: 0.5em !important;
}

.bar-header {
  position: fixed;
  width: 100%;
  background: white;
}

.img-responsive {
  height: 30em !important;
}

.gefCore-title {
  font-size: 5em;
  padding-top: 2.5em;
  color: white;
}

.headerImg {
  background-image: url("/img/img-header.jpg");
  width: 100%;
  background-size: cover;
}

.boque-home {
  margin-bottom: 1em;
}

.boque-home div a {
  width: 100%;
}

.close-loged {
  float: right;
  width: 50%;
}
 .yesClose-loged {
   width: 50%;
 }

 .juegos-matematicas-home {
   width: 100%;
   margin-bottom: 1em;
 }

 .primeraPuntuacion {
   color: #ffbf00 !important;
 }

 .segundaPuntuacion {
   color: #a7abae !important;
 }
 .terceraPuntuacion {
   color: #CD7F32 !important;
 }

 #tag0{
  border: 5px #ffbf00 solid;
 }

 #tag1{
  border: 5px #a7abae solid;
 }

 #tag2{
  border: 5px #CD7F32 solid;
 }

 tbody tr {
   margin-bottom: 1em;
   margin-top: 1em;
 }
