footer p {
  margin-left: 2em;
}

button.close {
  margin-top: -53px !important;
  font-size: 2em;
}

.inputLogin {
  padding-left: 0.5em;
  width: 15em;
}
h3 {
  margin-left: 2em;
}
h1 {
  text-align: center;
  margin-bottom: 0.5em !important;
}

.addMarginTopView {
  margin-top: 7em;
}

.bar-header {
  position: fixed;
  width: 100%;
  background: rgb(76, 74, 74);
  color: #FFFFFF;
}

.nav{
  list-style: none !important;
  margin: 1em !important;
  padding: 0 !important;
}
.nav>li{
  margin-left: 1em !important;
  border-top: 5px solid transparent;
}
.nav>li>a {
  color: #FFFFFF !important;
  border: 1px solid #FFFFFF !important;
  padding: 1em !important;
  margin-top: 0.5em !important;
  text-decoration: none !important;
}

.barrita-nomas{
  border-top: 5px solid #fff !important;
}

.nav>li>a:focus, .nav>li>:hover {
  background-color: rgba(238, 238, 238, 0)!important ;
}

.backgroundHeader{
  margin-top: 6em;
  height: 31em;
  background: #CCCC99 !important;
  background: -webkit-linear-gradient(180deg, #CCCC99, #999900) !important;
  background: -o-linear-gradient(180deg, #CCCC99, #999900)!important;
  background: -moz-linear-gradient(180deg, #CCCC99, #999900)!important;
  background: linear-gradient(180deg, #CCCC99 50%, #999900 50%)!important;
}

.img-responsive {
  height: 30em !important;
}

.gefCore-title {
  font-size: 10em;
  padding-top: 0.93em;
  color: #666633;
}

.headerImg {
  background-image: url("/img/img-header.jpg");
  width: 100%;
  background-size: cover;
}

.boque-home {
  margin-bottom: 1em;
}

.boque-home div a {
  width: 100%;
}

.close-loged {
  float: right;
  width: 50%;
}
 .yesClose-loged {
   width: 50%;
 }

 .primeraPuntuacion {
   color: #ffbf00 !important;
 }

 .segundaPuntuacion {
   color: #a7abae !important;
 }
 .terceraPuntuacion {
   color: #CD7F32 !important;
 }

 #tag0{
  border: 5px #ffbf00 solid;
 }

 #tag1{
  border: 5px #a7abae solid;
 }

 #tag2{
  border: 5px #CD7F32 solid;
 }

 tbody tr {
   margin-bottom: 1em;
   margin-top: 1em;
 }



/*========================== Modal Login ==================================*/
.modal {
  margin-top: 6em;
}
.modal-title {
  text-align: left !important;
  color: white;
}
.modal-header {
  border-radius: 0 !important;
  border-bottom: none !important;
  background-color: rgb(76, 74, 74);
}

.loginModal>div>div>.modal-body {
  background-color: #CCCC99;
  padding: 0 !important;
  padding-top: 2.4em !important;
  height: 150px;
}

.loginModal>div>div>div>form>div>.submit {
  background-color: rgba(255, 255, 255, 0.75) !important;
  border-radius: 0 !important;
  font-size: 1.3em;
  border: 1px solid black;
  height: 85px !important;
  width: 100% !important;
}

.loginModal>div>div>div>form>div>p>input {
  height: 37px;
  border 1px solid red;
  color red;
  font-size: 1.3em;
}

.loginModal>div>div>.modal-footer {
  border: none !important;
  padding-top: 1.5em;
  font-size: 1.5em;
  height: 105px;
  background-color: #999900;
}

.loginModal>div>div>.modal-footer>input {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.75) !important;
  border-radius: 0 !important;
  border: 1px solid black !important;
}

/*========================== Modal Register ==================================*/

.fotermodal {
  border: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}

.registerModal>div>div>.modal-body {
  background: #CCCC99 !important;
  background: -webkit-linear-gradient(180deg, #CCCC99, #999900) !important;
  background: -o-linear-gradient(180deg, #CCCC99, #999900)!important;
  background: -moz-linear-gradient(180deg, #CCCC99, #999900)!important;
  background: linear-gradient(180deg, #CCCC99 55%, #999900 40%)!important;
}

.inputLogin {
  font-size: 1.3em;
  height: 37px;
}

.footerlog {
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  float: left;
}

.inputsUser{
 padding-left: 0 !important;
}

.submitRegister {
  height: 87px;
  font-size: 1.3em !important;
  margin-left: 7em;
  margin-top: 0.5em;
  background-color: rgba(255, 255, 255, 0.75) !important;
  border-radius: 0 !important;
  border: 1px solid black !important;
}


/*========================== Modal Check logOut ==================================*/
