
<!-- Button trigger modal -->
  <button type="button"class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Testea el Login CABRON
  </button>
  <div class="modal fade" ng-controller="loginController" ng-init="loginInit()">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">{{titulo}}</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>He tendio que usar Jquery XD risas... pero buscare la forma para hacerlo de otra forma..</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
