  <div class="modal fade" ng-controller="loginController" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">{{titulo}}</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action='' name="login_form">

            <p><input type="text" class="inputLogin" name="eid" id="username" placeholder="Username" ></p>
            <p><input type="password" class="inputLogin" name="passwd" placeholder="Password" ng-init="loginInit()" ></p>
            <p><button type="submit" class="btn btn-primary">Sign in</button></p>
            <p class ="testButton" ng-click ="focus()">asd </p>
            <span onLoad="a = 1">{{ a }}</span>
          </form>
        </div>
        <div class="modal-footer">
            New To GefCore?
            <a href="#" class="btn btn-primary">Register</a>
          </div>
      </div>
    </div>
  </div>
