  <div class="modal fade" ng-controller="loginController" ng-init="loginInit()">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">{{titulo}}</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action='' name="login_form">

            <p><input type="text" class="inputLogin" name="eid" id="username" focus-me="true" placeholder="Username" ></p>
            <p><input type="password" class="inputLogin" name="passwd" placeholder="Password"></p>
            <p><button type="submit" class="btn btn-primary">Sign in</button></p>
          </form>
        </div>
        <div class="modal-footer">
            New To GefCore?
            <button type="submit" id ="register" class="btn btn-primary">Register</button>
          </div>
      </div>
    </div>
  </div>
