  <div class="modal fade" ng-controller="registerController" ng-init="registerInit()" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">{{titulo}}</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action='' name="login_form">

            <p><input type="text" class="inputRegister" name="eid" id="username" focus-me="true" placeholder="Username" ></p>
            <p><input type="password" class="inputRegister" name="passwd" placeholder="Password"></p>
            <p><input type="password" class="inputRegister" name="passwdRepeat" placeholder="Repeat Password"></p>
            <p><button type="submit" class="btn btn-primary">Register</button></p>
            <p><button type="submit" id="cancel" class="btn btn-danger">Cancel</button></p>
          </form>
        </div>
        <div class="modal-footer">
            Wowwww pussy
          </div>
      </div>
    </div>
  </div>
