<link rel="stylesheet" href="/js/components/matematicas/matematicas-css.css">


<!--=============== HEADER NAV FOR PHONE ================================= -->
<div class ="row visible-xs boque-home mates" style ="margin-top: 3em;">
  <div class ="col-xs-12 menuPhone">
    <a href="/" style ="color:#FFCC00"class ="btn" tabindex="1" aria-label='Home'>Home</a>
  </div>
  <div ng-if ="thisUser"class ="col-xs-12 menuPhone">
    <a href="/profile" style ="color:#FFCC00"class ="btn " tabindex="1" aria-label=perfil>Perfil</a>
  </div>
  <div ng-if ="thisUser" class ="col-xs-12 menuPhone">
    <a href="" style ="color:#FFCC00"class ="btn  logeOut" tabindex="1" aria-label='Cerrar sesion'>Cerrar sesion</a>
  </div>

  <script>

  //End Register Modal jquery
 setTimeout(function(){
   $('.logeOut').click(function(){
     $('.checkModal').modal('show');
     setTimeout(focusLogOut, 300);
   });
 },300)

  function focusLogOut () {
    document.getElementById('check').focus();
    $('[tabindex=6]').focus();
    $("#check").focus();
  }

  </script>

</div>
<!--=============== HEADER NAV FOR PHONE ================================= -->

    <h2 tabindex="1"> <p aria-label='Listado de todos los ejercicios de Matematicas.'></p>Matematicas</h2>
    <div class ="row " style ="margin-bottom: 1em;" ng-repeat ="mates in matematicas track by mates.nivel">
    <!-- IF mates.puntos es más pequeña que la puntuacion que necesita para entrar-->
      <div class ="col-md-12 col-lg-12 col-sm-12 matematicasHome desbloqueado" ng-if="mates.puntuacionTotal <= thisUser.puntuacion.matematicas">
        <a href="/juego/{{mates.identi}}" class ="" tabindex="1" >
          <div aria-label='{{mates.nivel}}' class ="col-md-3 col-lg-3 col-sm-3 col-xs-12 juegos-matematicas-home  {{mates.identi}}">
            Nivel {{mates.nivel}}
          </div>
          <div aria-label='{{mates.titulo}}.' class ="col-md-5 col-lg-5 col-sm-4 col-xs-12 juegos-matematicas-home {{mates.identi}}">
            <span>{{mates.titulo}}</span>
          </div>
          <div ng-if ="thisUser.matematicas">
            <div ng-repeat ="matematicasUser in thisUser.matematicas">
              <div ng-if ="matematicasUser.juego.identi == mates.identi && matematicasUser.juego.estado == 0">

                <div  aria-label= 'Juego Nuevo'class ="col-md-3 col-lg-3 col-sm-3 col-xs-12 juegos-matematicas-home {{mates.identi}}">
                  <span>Nuevo Nivel</span>
                </div>

                  <span class ="fi glyphicon glyphicon-arrow-left spanFlotando hidden-xs"></span>
              </div>
              <div ng-if="matematicasUser.juego.identi == mates.identi && matematicasUser.juego.estado == 1">
                <div  aria-label= 'Juego Superado' class ="col-md-3 col-lg-3 col-sm-3 col-xs-12 juegos-matematicas-home {{mates.identi}}">
                  <span>Superado</span>
                </div>

                  <span class ="fi glyphicon glyphicon-ok spanFlotando hidden-xs"></span>
              </div>
              <div ng-if="matematicasUser.juego.identi == mates.identi && matematicasUser.juego.estado == 3">
                <div aria-label= 'Repetir juego' class ="col-md-3 col-lg-3 col-sm-3 col-xs-12 juegos-matematicas-home {{mates.identi}}">
                  <span>Repetir</span>
                </div>

                  <span class ="fi glyphicon glyphicon-refresh spanFlotando hidden-xs"></span>
              </div>
            </div>
          </div>
          <div ng-if ="thisUser.matematicas.length == 0">
            <div arial-label='Juego Nuevo' class ="col-md-3 col-lg-3 col-sm-3 col-xs-12 juegos-matematicas-home {{mates.identi}}">
              <span>Nuevo Nivel</span>
            </div>

              <span class ="fi glyphicon glyphicon-arrow-left spanFlotando hidden-xs"></span>
          </div>
        </a>
      </div>

    <!-- Else if-->
      <div class ="col-md-12 col-lg-12 col-sm-12 col-xs-12 matematicasHome bloqueado" ng-if="mates.puntuacionTotal > thisUser.puntuacion.matematicas">
        <a href="" class =""tabindex="1" aria-label='No puedes jugar el Nivel {{$index + 1}} {{mates.titulo}}. Te faltan {{mates.puntuacionTotal - thisUser.puntuacion.matematicas}} puntos para desbloquearlo.'>
          <div class ="col-md-3 col-lg-3 col-sm-3 col-xs-12 juegos-matematicas-home juegoBloqueado {{mates.identi}}">
            Nivel {{$index + 1}}
          </div>
          <div class ="col-md-5 col-lg-5 col-sm-4 col-xs-12 juegos-matematicas-home juegoBloqueado {{mates.identi}}">
            <span>{{mates.titulo}}</span>
          </div>
          <div class ="col-md-3 col-lg-3  hidden-xs  hidden-sm juegos-matematicas-home  juegoBloqueado {{mates.identi}}">
            <span style="font-size:1em!important">  {{thisUser.puntuacion.matematicas}} de {{mates.puntuacionTotal}} Nivel bloqueado</span>
          </div>
          <div class ="col-sm-3 col-xs-12 visible-sm visible-xs juegos-matematicas-home  juegoBloqueado {{mates.identi}}">
            <span style="font-size:1em!important">  {{thisUser.puntuacion.matematicas}} de {{mates.puntuacionTotal}}</span>
          </div>

        </a>
        <span class ="fi glyphicon glyphicon-ban-circle spanFlotando hidden-xs"></span>
      </div>
    <!-- End if-->
    </div>

<script src =" /js/components/matematicas/matematicas-jquery.js">

  </script>
