<link rel="stylesheet" href="/js/components/profile/profile-css.css">
<div>
    <h1>profile</h1>
</div>
<h1>Matematicas</h1>
  <div class ="row">
    <div  class =" col-md-7 col-lg-7">
      <h1 ng-if="repetir">Juegos para repetir</h1>
      <div ng-repeat ="paraJugar in repetir">
        <div class ="col-md-12 col-lg-12 matematicasHome " >
          <a href="/juego/{{paraJugar.juego.identi}}" class ="" >
            <div class ="col-md-3 col-lg-3 juegos-matematicas-home  {{paraJugar.juego.identi}}">
              Nivel {{paraJugar.juego.nivel}}
            </div>
            <div class ="col-md-6 col-lg-6 juegos-matematicas-home  {{paraJugar.juego.identi}}">
              <span>{{paraJugar.juego.titulo}}</span>
            </div>
          </a>
        </div>
        <span class ="fi glyphicon glyphicon-refresh spanFlotando"></span>
      </div>


      <h1 ng-if="ultimoNivel">Nuevo Juego</h1>
      <div ng-repeat ="paraJugar in ultimoNivel">
        <div class ="col-md-12 col-lg-12 matematicasHome " >
          <a href="/juego/{{paraJugar.juego.identi}}" class ="" >
            <div class ="col-md-3 col-lg-3 juegos-matematicas-home  {{paraJugar.juego.identi}}">
              Nivel {{paraJugar.juego.nivel}}
            </div>
            <div class ="col-md-6 col-lg-6 juegos-matematicas-home  {{paraJugar.juego.identi}}">
              <span>{{paraJugar.juego.titulo}}</span>

            </div>
          </a>
        </div>
        <span class ="fi glyphicon glyphicon-arrow-left spanFlotando"></span>
      </div>

    </div>
    <div class =" col-md-5 col-lg-5">
      <div class ="col-md-12 col-lg-12 matematicasHome " >
        <h1 ng-if="ultimoRegistro">Juegos jugados</h1>
        <div ng-repeat ="paraJugar in ultimoRegistro">
          <div class ="col-md-12 col-lg-12 matematicasHome " >
            <a href="/juego/{{paraJugar.juego.identi}}" class ="" >
              <div class ="col-md-3 col-lg-3 juegos-matematicas-home  {{paraJugar.juego.identi}}">
                Nivel {{paraJugar.juego.nivel}}
              </div>
              <div class ="col-md-6 col-lg-6 juegos-matematicas-home  {{paraJugar.juego.identi}}">
                <span>{{paraJugar.juego.titulo}}</span>
                <span>{{paraJugar.juego.puntuacion}}</span>
              </div>
            </a>
          </div>
          <span class ="fi glyphicon glyphicon-ok spanFlotando"></span>
        </div>
      </div>
    </div>
  </div>



  <script src ="/js/components/profile/profile-jquery.js">  </script>
