
<div>
    <h1>Todas las puntuaciones de matematicas</h1>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre de usuario</th>
            <th>Puntuacion total</th>
            <th>Ultimo nivel</th>
          </tr>
        </thead>
          <tbody>
            <tr ng-repeat ="usuarios in usuarioCompleto  | orderBy: '-puntuacion.matematicas' track by $index " id ="tag{{$index}}">

              <td>{{1 + $index}} - {{usuarios.username}}</td>
              <td>{{usuarios.puntuacion.matematicas}}</td>
              <td>{{usuarios.matematicas[$index].juego.identi}}</td>
            </tr>
          </tbody>
        </table>
</div>

<script>

//  $('#1tag').addClass( "primeroPuntuacion" );
//  $('#1tag').html( "<span class ='fi glyphicon glyphicon-star'></spam>" );
</script>
