<link rel="stylesheet" href="/js/components/home/home-css.css">

<div ng-if ="$root.thisUser">
    <h2 class ="title-home-template"> <strong>GAMES</strong>Home</h3>
    <div class ="row boque-home mates">
      <div class ="col-md-9 col-lg-9 col-md-offset-2 col-lg-offset-2">
        <div class ="col-md-1 col-lg-1  ">
          <a href="/puntuacionMatematicas" style ="color:#FFCC00"class ="btn fi glyphicon glyphicon-star"></a>
        </div>
        <div class ="col-md-5 col-lg-5">
          <a href="/matematicas" class ="btn "> Matematicas </a>
        </div>
        <div class ="col-md-5 col-lg-5">
          <a href="" class ="btn ">Titulo del  donde se quedo</a>
        </div>
      </div>

    </div>

    <div class ="row boque-home ingles">
      <div class ="ol-md-9 col-lg-9 col-md-offset-2 col-lg-offset-2">
        <div class ="col-md-1 col-lg-1">
          <a href="" style ="color:#FFCC00" class ="btn  fi glyphicon glyphicon-star"></a>
        </div>
        <div class ="col-md-5 col-lg-5">
          <a href="/ingles" class ="btn "> Ingles </a>
        </div>
        <div class ="col-md-5 col-lg-5">
          <a href="" class ="btn">Titulo del ult</a>
        </div>
      </div>

    </div>
</div>

<!-- When User is not conected-->
<div ng-if ="!$root.thisUser">
    <h2 class ="title-home-template"> <strong>GAMES</strong>Home</h3>
    <div class ="row boque-home mates login">
      <div class ="col-md-9 col-lg-9 col-md-offset-2 col-lg-offset-2">
        <div class ="col-md-1 col-lg-1  ">
          <a  style ="color:#FFCC00"class ="btn fi glyphicon glyphicon-star"></a>
        </div>
        <div class ="col-md-5 col-lg-5">
          <a  class ="btn "> Matematicas </a>
        </div>
        <div class ="col-md-5 col-lg-5">
          <a  class ="btn ">Titulo del  donde se quedo</a>
        </div>
      </div>

    </div>

    <div class ="row boque-home ingles login">
      <div class ="ol-md-9 col-lg-9 col-md-offset-2 col-lg-offset-2">
        <div class ="col-md-1 col-lg-1">
          <a  style ="color:#FFCC00" class ="btn  fi glyphicon glyphicon-star"></a>
        </div>
        <div class ="col-md-5 col-lg-5">
          <a  class ="btn "> Ingles </a>
        </div>
        <div class ="col-md-5 col-lg-5">
          <a class ="btn">Titulo del ult</a>
        </div>
      </div>

    </div>
    <script src ="/js/components/home/home-jquery.js"></script>

</div>
