

<div>
  <h1>Home Games</h1>
  <div class ="row boque-home">
    <div class ="col-md-3 col-lg-3">
      <a href="/puntuacionMatematicas" class ="btn btn-primary fi glyphicon glyphicon-star"></a>
    </div>
    <div class ="col-md-4 col-lg-4">
      <a href="/matematicas" class ="btn btn-danger "> Matematicas </a>
    </div>
    <div class ="col-md-5 col-lg-5">
      <a href="" class ="btn btn-info">Titulo del ultimo nivel por donde se quedo</a>
    </div>
  </div>

  <div class ="row boque-home">
    <div class ="col-md-3 col-lg-3">
      <a href="" class ="btn btn-primary fi glyphicon glyphicon-star"></a>
    </div>
    <div class ="col-md-4 col-lg-4">
      <a href="/ingles" class ="btn btn-danger "> Ingles </a>
    </div>
    <div class ="col-md-5 col-lg-5">
      <a href="" class ="btn btn-info">Titulo del ultimo nivel por donde se quedo</a>
    </div>

  </div>


  <script>
    $(".container-fluid").show();
  </script>
