<!--este indice es un ejemplo de la ejecución a traves del
enrutamiento y las variables de la carpeta routes con el motor de renderizado ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <link rel="stylesheet" href="/css/index.css">

  <script
    src="/lib/jquery/dist/jquery.min.js"></script>

  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="/lib/bootstrap/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class ="bar-header">
  <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <h3>GefCore</h3>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->

  <!-- Header NAV -->
  <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li role="presentation" class="active"><a href="/">Home</a></li>

        <!-- Usuario Conectado-->
        <%  if( userFullName){ %> <!-- True false User -->

            <li role="presentation"><a href="/profile"><%=userFullName%></a></li>
            <li role="presentation"><a class ="logeOut" href="">Cerrar sesion</a></li>
        <%}%>

        <!-- Usuario Desconectado-->
      <%  if(!userFullName){ %> <!-- True false User -->

          <li role="presentation" class=""><a class ="login"href="">Entrar</a></li>
          <li role="presentation"><a class ="register" href="">Registrate</a></li>
        <%}%>
      </ul>
  </div>
</div>
<div class="container-fluid">
 <div class="row">
    <div class="backgroundHeader" >
          <h1 class ="gefCore-title">GefCore</h1>
    </div>

 </div>
</div>

<!--Title-->
  <br>
  <title><%= title %></title>

</head>
<body ng-controller="indexController" ng-init="currentUser()">
    <div class="container">

    <div ng-view id="ngView"></div>

<!--Angular Framework -->
<script type="text/javascript" src="/lib/angular/angular.js"></script>
<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>

<!--Angular configuration-->
<script src="/js/app.js"></script>
<script src="/js/config.js"></script>
<script src ="/js/modals-js/modal.js"></script>
<script src="/js/controller/index-controller.js"></script>

<!-- home-->
<script src="/js/components/home/home-module.js"></script>
<script src="/js/components/home/home-component.js"></script>
<script src="/js/components/home/home-controller.js"></script>

<!-- profile-->
<script src="/js/components/profile/profile-module.js"></script>
<script src="/js/components/profile/profile-component.js"></script>
<script src="/js/components/profile/profile-controller.js"></script>

<!-- matematicas home-->
<script src="/js/components/matematicas/matematicas-module.js"></script>
<script src="/js/components/matematicas/matematicas-component.js"></script>
<script src="/js/components/matematicas/matematicas-controller.js"></script>

<!-- ingles home-->
<script src="/js/components/ingles/ingles-module.js"></script>
<script src="/js/components/ingles/ingles-component.js"></script>
<script src="/js/components/ingles/ingles-controller.js"></script>

<!-- puntuacion matemtaicas-->
<script src="/js/components/puntuacionMatematicas/puntuacionMatematicas-module.js"></script>
<script src="/js/components/puntuacionMatematicas/puntuacionMatematicas-component.js"></script>
<script src="/js/components/puntuacionMatematicas/puntuacionMatematicas-controller.js"></script>

<!-- puntuacion ingles-->
<script src="/js/components/puntuacionIngles/puntuacionIngles-module.js"></script>
<script src="/js/components/puntuacionIngles/puntuacionIngles-component.js"></script>
<script src="/js/components/puntuacionIngles/puntuacionIngles-controller.js"></script>

<!-- juegos Matematicas-->
<script src="/js/components/juego/juego-module.js"></script>
<script src="/js/components/juego/juego-component.js"></script>
<script src="/js/components/juego/juego-controller.js"></script>

<!-- juegos Ingles-->
<script src="/js/components/juegoIngles/juegoIngles-module.js"></script>
<script src="/js/components/juegoIngles/juegoIngles-component.js"></script>
<script src="/js/components/juegoIngles/juegoIngles-controller.js"></script>






<!-- _____________________________START____MODAL___________________________________ -->

  <!--START Modal LOGIN -->
  <div class="modal loginModal fade" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">GefCore</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class=" modal-body">
          <form method="post" action='/singin' name="login_form">
            <div class = "col-md-6 col-lg-6">
              <p><input type="text" class="inputLogin"  id="username" focus-me="true" name="username" placeholder="Usuario" ></p>
              <p><input type="password" class="inputLogin" name="password" placeholder="Contraseña"></p>
            </div>
            <div class ="col-md-4 col-ls-4">
              <input type="submit" class="submit btn" value='Entra'>
            </div>
          </form>
        </div>
        <div class="modal-footer">
            Nuevo en GefCore?
            <input type="submit" class=" registerLogin btn" value="Registrate">
          </div>
      </div>
    </div>
  </div>
  <!--END Modal LOGIN -->

  <!-- Start Modal REGISTER -->
  <div class="modal registerModal fade" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Registrarse</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action='/singup' name="login_form">
            <div class ="body-model">
              <p><input type="text" class="inputLogin"  id="firstName" focus-me="true" name="firstName" placeholder="Nombre" ></p>
              <p><input type="text" class="inputLogin" name="lastName" placeholder="Apellido"></p>
              <p><input type="text" class="inputLogin" name="email" placeholder="Correo" ></p>
            </div>
            <div class="modal-footer fotermodal">
              <div class =" inputsUser col-md-6 col-lg-6">
                <p><input type="text" class="inputLogin footerlog" name="username" placeholder="Nombre de usuario"></p>
                <p><input type="password" class="inputLogin footerlog" name="password" placeholder="Contraseña" ></p>
              </div>
              <div class =" col-md-4 col-lg-4">
                <input type="submit" class="btn submitRegister" value='Crear cuenta'>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- END Modal REGISTER-->

<!-- START Modal CheckLogOUT-->

<div class="modal checkModal fade" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Cerrar Sesion</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class ="row">
          <div class ="col-md-6 col-lg-6">
             <input type="submit" class="close-loged btn " value='No' data-dismiss="modal" aria-label="Close">
          </div>
          <div class ="col-md-6 col-lg-6">
            <form   style ="whitd: 40%;"action='/singout'>
              <input type="submit" class="yesClose-loged btn " value='Si'>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- END Modal CheckLogOUT-->
<!-- _______________________________END__MODAL___________________________________ -->

<%  if(!userFullName){ %> <!-- True false User -->
    <script>
    //Iniciar Modal Login al ir al /
      $('.loginModal').modal('show');
      setTimeout(focus, 300);
    //Preparar el boton "REGISTRATE" para que abra el modal de Registrarse.
      $('.registerLogin').click(function(){
        $('.loginModal').modal('hide');
        $('.registerModal').modal('show');
        setTimeout(focusRegister, 300);
      });
      function focusRegister () {
        $('#firstName').focus();
      }
    </script>
  <%}%>


</body>
</html>
