<!--este indice es un ejemplo de la ejecución a traves del
enrutamiento y las variables de la carpeta routes con el motor de renderizado ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <img src="img/foto.jpeg" >
</head>
<body>
<h1><%= title %></h1>
</body>
</html>
