<!--este indice es un ejemplo de la ejecución a traves del
enrutamiento y las variables de la carpeta routes con el motor de renderizado ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
  <!-- FAVICON -->
  <link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="img/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
  <link rel="manifest" href="img/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- FAVICON -->

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/css/index.css">
  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="/lib/bootstrap/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Nav Header BOOTSTRAP -->
  <div class ="bar-header">
    <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <h3>GefCore</h3>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->

    <!-- Header NAV -->
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li role="presentation" class="active"><a tabindex="1" href="/" aria-label='Menu principal'>Home</a ></li>

          <!-- Usuario Conectado-->
          <%  if( userFullName){ %> <!-- True false User -->

              <li role="presentation"><a href="/profile" tabindex="1" aria-label='Tu perfil <%=userFullName%>'><%=userFullName%></a></li>
              <li role="presentation"><a class ="logeOut" href="" tabindex="1" aria-label='Cerrar sesion'>Cerrar sesion</a></li>
          <%}%>

          <!-- Usuario Desconectado-->
        <%  if(!userFullName){ %> <!-- True false User -->

            <li role="presentation" class=""><a tabindex="1" class ="login" href="" aria-label='Entra a la sesion'>Entrar</a></li>
            <li role="presentation"><a  tabindex="1" class ="register" href="" aria-label='Registrarse en GefCore'>Registrate</a></li>
          <%}%>
        </ul>
    </div>
  </div>
<div class="container-fluid">
 <div class="row">
    <div class="backgroundHeader col-lg-12 col-md-12 col-ls-12 hidden-xs" >
        <h1 tabindex="1" class ="gefCore-title"> <p aria-label='GefCore, una pagina donde podras jugar y aprender a la vez'></p>GefCore</h1>
    </div>
 </div>
</div>

<!--Title-->
  <br>
  <title><%= title %></title>
</head>


<body ng-controller="indexController" ng-init="currentUser()">
    <div class="container">

    <div ng-view id="ngView"></div>

<!--Angular Framework -->
<script type="text/javascript" src="/lib/angular/angular.js"></script>
<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>

<!--Angular configuration-->
<script src="/js/app.js"></script>
<script src="/js/config.js"></script>
<script src ="/js/modals-js/modal.js"></script>
<script src="/js/controller/index-controller.js"></script>

<!-- home-->
<script src="/js/components/home/home-module.js"></script>
<script src="/js/components/home/home-component.js"></script>
<script src="/js/components/home/home-controller.js"></script>

<!-- profile-->
<script src="/js/components/profile/profile-module.js"></script>
<script src="/js/components/profile/profile-component.js"></script>
<script src="/js/components/profile/profile-controller.js"></script>

<!-- matematicas home-->
<script src="/js/components/matematicas/matematicas-module.js"></script>
<script src="/js/components/matematicas/matematicas-component.js"></script>
<script src="/js/components/matematicas/matematicas-controller.js"></script>

<!-- ingles home-->
<script src="/js/components/ingles/ingles-module.js"></script>
<script src="/js/components/ingles/ingles-component.js"></script>
<script src="/js/components/ingles/ingles-controller.js"></script>

<!-- puntuacion matemtaicas-->
<script src="/js/components/puntuacionMatematicas/puntuacionMatematicas-module.js"></script>
<script src="/js/components/puntuacionMatematicas/puntuacionMatematicas-component.js"></script>
<script src="/js/components/puntuacionMatematicas/puntuacionMatematicas-controller.js"></script>

<!-- puntuacion ingles-->
<script src="/js/components/puntuacionIngles/puntuacionIngles-module.js"></script>
<script src="/js/components/puntuacionIngles/puntuacionIngles-component.js"></script>
<script src="/js/components/puntuacionIngles/puntuacionIngles-controller.js"></script>

<!-- juegos Matematicas-->
<script src="/js/components/juego/juego-module.js"></script>
<script src="/js/components/juego/juego-component.js"></script>
<script src="/js/components/juego/juego-controller.js"></script>

<!-- juegos Ingles-->
<script src="/js/components/juegoIngles/juegoIngles-module.js"></script>
<script src="/js/components/juegoIngles/juegoIngles-component.js"></script>
<script src="/js/components/juegoIngles/juegoIngles-controller.js"></script>






<!-- _____________________________START____MODAL___________________________________ -->

  <!--START Modal LOGIN -->
  <div class="modal loginModal fade" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" tabindex="2" id="loginModal"> <p aria-label ="Bienvenido a GefCore!"></p>GefCore</h2>
          <button  type="button" class="close" data-dismiss="modal" aria-label="Cerrar ">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class=" modal-body">
          <form method="post" action='/singin' name="login_form">
            <div class = "col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
              <p><input tabindex="3" class ="col-xs-12 inputLogin" aria-label='Introduce tu usuario' type="text"   id="username" focus-me="true" name="username" placeholder="Usuario" ></p>
              <p><input tabindex="3" class ="col-xs-12 inputLogin downinput" aria-label='Introduce tu contraseña'type="password"  name="password" placeholder="Contraseña"></p>
            </div>
            <div class ="col-md-4 col-lg-4 col-sm-6 col-xs-12">
              <p class ="visible-xs" style="margin-top:1em;"></p>
              <input tabindex="3" aria-label='Aceptar y entrar. Si no tienes una cuenta en GefCore, baja al proximo boton' type="submit" class="submit btn col-xs-12" value='Entra'>
              <p class =" visible-xs" style="margin-bottom: 2em;"></p>
            </div>
          </form>
        </div>
        <div class="modal-footer hidden-xs">
            Nuevo en GefCore?
            <div class ="row">
              <div class ="col-md-6 col-lg-6 col-sm-6">
                <form action="/forgot" class ="formRemember">
                  <button class="forgot " tabindex="4" aria-label="Si no recuerdas tu contraseña, Pulsa aqui para recuperarla">Recuperar Contraseña</button>
                </form>
              </div>
              <div class ="col-md-6 col-lg-6 col-sm-6">
                <input tabindex="3" aria-label='Si no tienes cuenta en GefCore, Pulsa aqui para crearla' type="submit" class=" registerLogin btn" value="Registrate">
              </div>
            </div>
        </div>
        <div class="modal-footer visible-xs">
            <input tabindex="3" aria-label='Si no tienes cuenta en GefCore, Pulsa aqui para crearla' type="submit" class=" registerLogin btn" value="Registrate">
        </div>
      </div>
    </div>
  </div>
  <!--END Modal LOGIN -->

  <!-- Start Modal REGISTER -->
  <div class="modal registerModal fade" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 tabindex ="4" id="registerModal" style ="margin-bottom: 0 !important; text-align: left !important;"><p aria-label='Create un usuario para GefCore'class="modal-title"></p>Registrarse</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action='/singup' name="login_form">
            <div class ="body-model">
              <p><input  tabindex ="5"  aria-label= 'introduce tu nombre'type="text" class="inputLogin triplelog col-md-6 col-lg-6 col-sm-6 col-xs-12"  id="firstName" focus-me="true" name="firstName" placeholder="Nombre" ></p>
              <p><input tabindex ="5"  aria-label= 'introduce tu apellido' type="text" class="inputLogin triplelog col-md-6 col-lg-6 col-sm-6 col-xs-12" name="lastName" placeholder="Apellido"></p>
              <p><input tabindex ="5"  aria-label= 'introduce tu correo electronico (es obligatorio)' type="text" class="inputLogin triplelog col-md-6 col-lg-6 col-sm-6 col-xs-12" name="email" placeholder="Correo" ></p>
            </div>
            <div class="modal-footer fotermodal">
              <div class ="row footerModalRegister">
                <div class =" inputsUser col-md-6 col-lg-6 col-sm-6 col-xs-12">
                  <p><input tabindex ="5"  aria-label= 'introduce nombre de usuario. Es importante que no te olvides de el' type="text" class="inputLogin footerlog  col-md-12 col-lg-12 col-sm-12 col-xs-12" name="username" placeholder="Nombre de usuario"></p>
                  <p><input tabindex ="5"  aria-label= 'introduce una contraseña' type="password" class="inputLogin footerlog col-md-12 col-lg-12 col-sm-12 col-xs-12" name="password" placeholder="Contraseña" ></p>
                </div>
                <div class =" col-md-4 col-lg-4 col-sm-4 hidden-xs">
                  <input tabindex ="5"   aria-label= 'Aceptar y crear usuario' type="submit" class="btn submitRegister " value='Crear cuenta'>
                </div>
                <div class =" col-xs-12 visible-xs">
                  <input tabindex ="5" aria-label= 'Aceptar y crear usuario' type="submit" class="btn submitRegister col-xs-12" value='Crear cuenta'>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- END Modal REGISTER-->

<!-- START Modal CheckLogOUT-->

<div class="modal checkModal fade" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" tabindex ="6" id="check" aria-label= 'Cerrar sesion'>Cerrar Sesion</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class ="row">
          <div class ="col-md-6 col-lg-6 col-sm-6 hidden-xs" >
             <input type="submit" class="close-loged btn " value='No' data-dismiss="modal"  tabindex ="7" aria-label= 'No cerrar sesion'>
          </div>
          <div class ="col-md-6 col-lg-6 col-sm-6 hidden-xs">
            <form   style ="whitd: 40%;"action='/singout'>
              <input type="submit" class="yesClose-loged btn " value='Si' tabindex ="7" aria-label= 'Verificar que quieres cerrar sesion'>
            </form>
          </div>

          <div class ="col-xs-6 visible-xs" >
             <input type="submit" style ="margin-right:2em !important;" class="close-loged btn " value='No' data-dismiss="modal"  tabindex ="7" aria-label= 'No cerrar sesion'>
          </div>
          <div class ="col-xs-6 visible-xs">
            <form   style ="whitd: 40%;"action='/singout'>
              <input type="submit" style ="margin-left:2em !important;" class="yesClose-loged btn " value='Si' tabindex ="7" aria-label= 'Verificar que quieres cerrar sesion'>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- END Modal CheckLogOUT-->
<!-- _______________________________END__MODAL___________________________________ -->

<%  if(!userFullName){ %> <!-- True false User -->
    <script>
    //Iniciar Modal Login al ir al /
      $('.loginModal').modal('show');
      setTimeout(focus, 300);
    //Preparar el boton "REGISTRATE" para que abra el modal de Registrarse.
      $('.registerLogin').click(function(){
        $('.loginModal').modal('hide');
        $('.registerModal').modal('show');
        setTimeout(focusRegister, 300);
      });
      function focusRegister () {
        document.getElementById('loginModal').focus();
        $('[tabindex=2]').focus();
        $("#loginModal").focus();
      }
    </script>
  <%}%>


</body>
</html>
