<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
<% for(var i in messages) { %>
    <div class='flash'><%= messages[i] %></div>
  <% } %>

  <form method="post">

    <div>
      <label>Contraseña:</label>
      <input type="text" name="password" autofocus/>
    </div>
    <div>
      <input type="submit" value="restaurar contraseña"></input>
    </div>
  </form>

</body>
</html>
