<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>

</head>
<body>

<h1><%= title %></h1>

<% for(var i in messages) { %>
  <div class='flash'><%= messages[i] %></div>
<% } %>
<form action="/singup" method="post">
<div>
  <label>Nombre:<label>
  <input type='text' name= 'firstName'/>
</div>
<div>
  <label>Apellido:<label>
  <input type='text' name= 'lastName'/>
</div>
<div>
  <label>Correo electronico:<label>
  <input type='text' name= 'email'/>
  </div>
  <div>
    <label>Nombre de usuario:<label>
    <input type='text' name= 'username'/>
  </div>
  <div>
    <label>Contraseña:<label>
    <input type='password' name= 'password'/>
  </div>
  <div>
    <input type="submit" value="crear cuenta"/>
  </div>
</form>
</body>
</html>
